# Adam
Adam  <EMAIL_REDACTED> <adam@MacBook.local>
Adam  <EMAIL_REDACTED> <adam@wifiroam036189.univ-st-etienne.fr>
Adam  <EMAIL_REDACTED> Adam <EMAIL_REDACTED>
Adam  <EMAIL_REDACTED> Adam  <EMAIL_REDACTED>

# Damien
Damien Granjon <damien42.granjon@gmail.com> DamienGrjn <damien42.granjon@gmail.com>
Damien Granjon <damien42.granjon@gmail.com> <damien@LAPTOP-N04F54UM.localdomain>

# Louis
Louis Peloux <Peloux.Louis@gmail.com> PelouxL <Peloux.Louis@gmail.com>
Louis Peloux <Peloux.Louis@gmail.com> <152203841+PelouxL@users.noreply.github.com>
Louis Peloux <Peloux.Louis@gmail.com> <bibi@DESKTOP-C9M9PS8.localdomain>

# Baptiste
Baptiste Moulin <baptistemoulin7@gmail.com> baptmouuu <baptistemoulin7@gmail.com>

# Paul
Paul Rodrigues <paul.rodrigues@etu.univ-st-etienne.fr>